/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */

/**
 * Variables
 */


/**
 * General layout
 */

/* My layout style */

.region-header-col-1 {
    display: none;
}

.right {
    float: right;
}

.left {
    float: left;
}


.footer-column {
    width: 33%;
    float: left;
    border: 1px solid black;
}

.outer-wrap {
    max-width: 900px;
}
