/**
 * Layout for responsive style through media queries.
 */

//Leaf in nav bar
@media screen and (max-width: 1500px) {
    .site-logo {
        display: none;
    }
}

//.sm-small do nothing, rm-deskop hide
@media screen and (max-width: 470px) {
    .rm-small {
        display: block;
    }

    .rm-desktop {
        display: none;
    }
}

//make top menu smaller
@media screen and (max-width: 700px) {
    .rm-default a {
        padding: 0.5em;
    }
}

@media screen and (max-width: 550px) {
    .rm-default a {
        padding: 0em;
    }
}

// Remove sidebars
@media screen and (max-width: 750px) {
    .wrap-sidebar{
        display: none;
    }
}

// FOOTER!!!!
@media screen and (max-width: 900px) {
    .footer-column {
        width: 100%;
    }
}
